# Arquivos de sistema do Windows
Thumbs.db
Desktop.ini

# Arquivos de sistema do MacOS
.DS_Store

# Arquivos do RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Arquivos temporários R
*_cache/
/cache/

# Arquivos de saída
*.pdf
*.docx

# Arquivos temporários
*~
.~lock.*
*.tmp
*.bak